<table>
        <div class="card border-dark mb-3" style="max-width: 10rem;">
          <div class="card-header">ジャンル検索</div>
          <div class="card-body text-dark">
            <% genres.each do |genre|%>
            <h5 class="card-title"><%=genre.name%></h5>
            <p class="card-text"></p><%end%>
          </div>
        </div>
      </table> 