<div class="container m-5">
  <div class="row">
    <div class="col-md-3"> 
      <table>
        <td>ジャンル検索</td>
        
        <% @genres.each do |genre|%>
        <tr>
      　<td><%=genre.name%></td>
        </tr>
        <%end%>
      </table>
    </div>　　
    　　
    
    <div class="col-md-8">
      <p>商品一覧</p>
      <div class="card" style="width: 18rem;">
          <% @products.each do |product|%>
       <div class="card-body">
           <%= image_tag product.get_image(200,100)%>
         <h5 class="card-title"><%=product.name%></h5>
         
         ¥<%=product.price%>
         <%end%>
       </div>
      </div>
      
    </div>
  </div>
</div>

    
    <!--Some quick example text to build on the card title and make up the bulk of the card's content.-->
    <!--<a href="#" class="card-link">Card link</a>-->
    <!--<a href="#" class="card-link">Another link</a>-->
