<div class="container m-5">
  <div class="row">
    <div class="col-md-3"> 
      <%=render 'genre_form',genres: @genres%>
    </div>
    　　
    
    <div class="col-md-8">
      <h3>商品一覧</h3><p>(全<%=@products.count %>件）</p>
      <%=render 'index',products: @products%>
       </div>
      
    </div>
  </div>
</div>
