<div class="container m-5 ">
  <div class="row">
    <div class="col-md-2">
     <%=render '/public/products/genre_form',genres: @genres%>
   </div>
  <div class= "col-md-9 offset-1 ">
  
   <p>ようこそながのCAKEへ!!</p>
   <div>
     <h3><strong>新着商品</strong></h3>
     <%=render '/public/products/index',products: @products%>
   </div>
  </div>
  </div>
</div>
