<div class = 'container'>
  <h2 class = 'mt-5 text-center'><%= @customer.last_name%><%= @customer.first_name%>さんの会員詳細</h2>
  <div class = 'row'>
   <table class = 'table'>
    <tr>
     <th class = 'text-center'>会員ID</th>
      <td></td>
    </tr>

   </table>

  </div>

</div>
<div class = 'container'>
  <div class = 'row'>
   <div class = 'col-md-4 offset-md-4 py-2 mt-5'>
    <%= pagenate @customers %>
   </div>
  </div>
 </div>